body {
    background-color: azure;
    font-family: -apple-system, sans-serif;
}

.hidden {
    visibility: hidden;
}

main {
    font-size: 120%;
    margin: 5% auto;
}

.container {
    margin-top: 3rem;
}

h1 {
    text-align: center;
    font-weight: bold;
}

.alert {
    text-align: center;
    margin: 2rem auto;
    font-size: 1.2rem;
    font-weight: bold;
    width: 75%;
}

#board_div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#word_list {
    font-weight: bold;
    text-transform: uppercase;
}

#form_div {
    text-align: left;
}

.board {
    border: solid 15px rgb(29, 73, 132);
    border-radius: 50%;
    font-weight: bold;
    font-size: 150%;
    margin: auto;
}

.board td {
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
    height: 4rem;
    text-align: center;
    width: 4rem;
}

form {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    width: 60%
}

.word-input {
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    width: 5em;
}

.word-input-btn {
    background-color: rgb(29, 73, 132);
    border: solid 1px black;
    border-radius: 3px;
    color: white;
    font-size: 120%;
    padding: 0.25em;
    text-transform: uppercase;
}

.list-group-item {
    margin-bottom: 0.5rem;
}

.btn-div {
    margin-top: 1rem;
}

.btn-primary{
    background-color: rgb(29, 73, 132);
    border-color: rgb(29, 73, 132);
}

.btn-primary:hover {
    background-color: rgb(17, 46, 83);
    border-color: rgb(17, 46, 83);
}

.btn-outline-primary{
    border-color: rgb(29, 73, 132);
    color: rgb(29, 73, 132);
}

.btn-outline-primary:hover {
    background-color: rgb(29, 73, 132);
    border-color: rgb(29, 73, 132);
}

.timer {
    font-weight: bold;
}