<!doctype html>
<html lang="en">
<head>
  <title>Boggle</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/boggle.css">
</head>

<body>
  <div class="container">
  <h1>Boggle!</h1>
  <p class="game-msg alert alert-primary">
    <!-- our JS will put messages here dynamically -->
  </p>
  <div class="row" id="board_div">
    <div id="form_div" class="col">
      <form method="POST" id="newWordForm">
        <p class="timer"></p>
        <input
        name="word"
        id="wordInput"
        class="word-input"
        autofocus aria-label="Word">
        <div class="btn-div">
          <button class="btn btn-primary">Go</button>
          <a href="/" class="btn btn-outline-primary">Restart</a>
        </div>
      </form>
    </div>
    <div class="table-div col-6">
      <table class="board"></table>
    </div>
    <div id="word_list" class="col">
      <ul id="words">
        <!-- JS will put words here -->
      </ul>
    </div>
  </div>
</div>



<script src="http://unpkg.com/jquery"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="/static/boggle.js"></script>
</body>
</html>
